node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build


# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test
activate.bat

evaluation/.venv/
evaluation/data/renders/*
evaluation/data/binarized/
evaluation/data/preprocessing/
evaluation/results/easyOCR/*

# Gitkeeps
!evaluation/results/easyOCR/.gitkeep
!evaluation/results/.gitkeep
!evaluation/data/renders/.gitkeep
!evaluation/data/binarized/.gitkeep




# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
